.GitHub {
  padding: 20px;
  border: 1px solid #ddd;
  position: relative;
  flex-basis: 50%;
  flex-shrink: 1;
  margin-right: 20px;

  &__intro {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
  }

  &__logo {
    width: 39px;
    height: 39px;
    margin-right: 10px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__input {
    outline: none;
    border: 3px solid transparent;
    border-radius: 5px;
    background: #ededed;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;

    &:hover, &:focus {
      border-color: #9561e2;
    }
  }

  &__error {
    color: orangered;
    margin: 20px 0 0 0;
  }
}
