.Button {
  display: inline-block;
  border: 1px solid #9561e2;
  background: transparent;
  color: #9561e2;
  padding: 0.5rem 1.5rem;
  border-radius: 666px;
  cursor: pointer;
  transition: color 0.2s ease, background 0.2s ease;
  font-size: 1rem;

  &:hover {
    color: #fff;
    background: #9561e2;
  }
}
