.Maintainers {
  margin: 20px 0 40px 0;
}

.Maintainer {
  margin: 20px 0;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1.5rem;
  display: flex;

  &__avatar {
    overflow: hidden;
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }

  &__avatar-image {
    display: block;
  }

  &__info {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 1.8rem;
    line-height: 2rem;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__count {
    color: #808080;

    strong {
      color: #333;
    }
  }

  &__libs {
    display: flex;
    flex-wrap: wrap;
  }
}

.Lib {
  margin-right: 6px;
  display: inline;
  text-decoration: none;
  color: #808080;

  &:hover {
    color: #9561e2;
  }
}
